<div class="editPatient col-md-4">

  <div class="editPatientBox">Edit the patient (stored in MongoDB):
    <form class="form-horizontal" role="form" ng-submit="updatePatient(patient._id)">
      <div class="form-group">
        <label for="patientName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" id="patientName" ng-model="patient.name"></input>
        </div>
      </div>
      <div class="form-group">
        <label for="patientCity" class="col-sm-2 control-label">Patient City</label>
        <div class="col-sm-10">
          <input type="text" id="patientCity" ng-model="patient.city"></input>
        </div>
      </div>
      <div class="form-group">
        <label for="infectionDate" class="col-sm-2 control-label">Infection Date</label>
        <div class="col-sm-10">
          <input type="date" id="infectionDate" ng-model="patient.infectionDate" placecholder="2014-10-20"><p>{{ patient.infectionDate | date: 'MM-dd-yyyy' }}<p></input>
        </div>
      </div>
      <button class="btn btn-default" type="submit" id="newPatientSubmitButton">Submit</button>
      <a class="btn btn-default" ng-href="/">Back</a>
    </form>
  </div>
</div>
